.header {
	font-size: 20px;
	margin: 60px auto;
}
.header span {
	display: block;
	line-height: 2.0;
}
.section {
	padding: 30px 0;
}
.form {
	border: 5px solid #2727d9;
	padding: 38px 20px;
}
.form-header,.section-header {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 20px;
}
.form-btn {
	margin: 12px auto;
	background-color: #2727d9;
}
.form input {
	margin-bottom: 12px;
}
.feature {
	margin-top: 60px auto;
}
.feature p {
 	 margin-top: 20px;
}
.video {
	margin-bottom: 30px;
}